/* Global */

body {
  margin: 0px;
}

button {
  cursor: pointer;
}

.disable-button {
  cursor: default;
  opacity: 0.5;
}

.portfolio-button {
  padding: 12px 24px 12px 24px;
  border-radius: 100px;
  border: none;
  color: white;
  background-color: black;
}

.spinner-icon {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: route(0deg); }
  100% { transform: rotate(360deg); }
}

.notification {
  padding: 14px 8px 14px 16px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 76px;
}

.notification svg {
  cursor: pointer;
  margin-left: 12px;
  fill: var(--md-sys-color-on-error-light);
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info img {
  width: 60px;
  height: 60px;
  border-radius: 100px;
}

.user-info-name {
  margin-left: 16px;
}

.content {
  flex: 1;
  overflow: auto;
}

/* Sing In */

.sign-in {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.sign-in-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-in-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.select-user-type {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.switch-track-new-user {
  width: 52px;
  height: 32px;
  border: 2px solid var(--md-sys-color-outline-light);
  border-radius: 100px;
  margin: 0px 16px;
}

.switch-handle-new-user {
  width: 16px;
  height: 16px;
  border-radius: 100px;
  margin: 8px;
}

.switch-track-existing-user {
  width: 52px;
  height: 32px;
  border: 2px solid var(--md-sys-color-primary-light);
  border-radius: 100px;
  margin: 0px 16px;
  display: flex;
  justify-content: end;
}

.switch-handle-existing-user {
  width: 24px;
  height: 24px;
  border-radius: 23px;
  margin: 4px;
}

.sign-in-form input {
  width: 200px;
  height: 36px;
  padding: 0px 24px;
  border: 1px solid var(--md-sys-color-primary-light);
  border-radius: 100px;
  margin-bottom: 16px;
}

.sign-in-form button {
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 16px;
  padding-right: 24px;
  border-radius: 100px;
  border: none;
}

.sign-in-form svg {
  width: 18px;
  height: 18px;
  margin-right: 8px;
}

.sign-in-footer {
  position: absolute;
  bottom: 16px;
}

.sign-in-loading {
  margin-top: 100px;
}

.sign-in-loading svg {
  fill: var(--md-sys-color-primary-light);
}

/* Home */

.home {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

/* Navigation */

.navigation {
  height: 80px;
  display: flex;
  align-items: center;
}

.navigation-section {
  width: 25dvw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.navigation-section svg {
  fill: var(--md-sys-color-on-surface-variant-light);
}

.navigation-section img {
  width: 56px;
  height: 56px;
  border-radius: 100px;
}

.navigation-icon {
  width: 64px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  margin-bottom: 4px;
}

.navigation-active svg {
  margin-bottom: 0px;
  fill: var(--md-sys-color-on-secondary-container-light);
}

/* Add Post */

.add-post {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

.upload-post {
  border: 1px solid var(--md-sys-color-outline-light);
  border-radius: 24px;
  margin: 16px;
}

.upload-post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.upload-post-header-user-info {
  border-radius: 100px;
}

.upload-post-header-bookmark svg {
  cursor: pointer;
  fill: var(--md-sys-color-secondary-light);
}

.upload-post-photo {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.upload-photo-icon {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  margin-bottom: 4px;
}

.upload-photo-icon svg {
  fill: var(--md-sys-color-on-primary-light);
}

.upload-post-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

.upload-post-footer button {
  padding: 10px 24px;
  border-radius: 100px;
  border: none;
  margin-top: 20px;
}

.upload-post-caption {
  width: 100%;
  display: flex;
}

.upload-post-caption-label {
  font-weight: bold;
  margin-right: 8px;
}

.upload-post-caption-input {
  flex: 1;
}

.upload-post-caption-input input {
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--md-sys-color-outline-variant-light);
}

@media (prefers-color-scheme: dark) {
  /* Global */

  .portfolio-button {
    color: black;
    background-color: white;
  }

  .notification svg {
    fill: var(--md-sys-color-on-error-dark);
  }

  /* Sign in */

  .sign-in-form input {
    border: 1px solid var(--md-sys-color-primary-dark);
  }

  .sign-in-loading svg {
    fill: var(--md-sys-color-primary-dark);
  }

  .switch-track-existing-user {
    border: 2px solid var(--md-sys-color-primary-dark);
  }

  /* Navigation */

  .navigation-section svg {
    fill: var(--md-sys-color-on-surface-variant-dark);
  }

  .navigation-active svg {
    fill: var(--md-sys-color-on-secondary-container-dark);
  }

  /* Add Post */

  .upload-post {
    border: 1px solid var(--md-sys-color-outline-dark);
  }

  .upload-post-header-bookmark svg {
    fill: var(--md-sys-color-secondary-dark);
  }

  .upload-photo-icon svg {
    fill: var(--md-sys-color-on-primary-dark);
  }
}
